<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CubeBreeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CubeBreeder.Properties.Settings>
            <setting name="_Dimension" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_MaxGenerations" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="_PopulationSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="P_CrossoverProbability" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="P_MutationProbability" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="P_MutationPerEdgeProbability" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="_SubcubeSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Repeats" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="P_ActiveProbability" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="File_Initialization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Task" serializeAs="String">
                <value>spanner</value>
            </setting>
            <setting name="P_MutationRepairProbability" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="FileInitRatio" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="EliteSize" serializeAs="String">
                <value>0.1</value>
            </setting>
        </CubeBreeder.Properties.Settings>
    </userSettings>
</configuration>